:root{
    --verde:rgb(90, 132, 94);
    --blanco:#fff;
    --gris:rgb(212, 197, 197);
    --negro:black;
    --azul:#f0f8ff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  
    max-width: 350px;
    height: 80vh;
    margin: 40px auto;
    font-family: "Open Sans", sans-serif;
  }


  
  .encabezado{
    display: block;
    padding: 20px;
    background-color: var(--verde);
    color: white;
    flex-direction: row;
    justify-content:flex-end ;
    
   }

  .iconos{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

  }

.contenedor{
    background-color: var(--azul);

}
  .flex{
    
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color:var(--blanco);
    background:var(--verde);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around ;
   
 }
 .img{
    width: 50px;
   height: 50px;
   display: block;
   border-radius: 30px ;
   border-color: black;
  

   }
   label{
    display: block;
    padding:5px ; 
   }
  
  
 




